vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_textextensions:SW|.txt.
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|en-us
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Rejected
vti_timecreated:TR|20 Aug 2008 13:23:25 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|utf-8
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SW|.alx.asp.aspx.dwt.hta.htc.htm.html.htt.htx.jsp.master.php.php2.php3.php4.php5.phtml.shtml.stm.asa.asax.
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|12.0.0.4518
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_navbuttonnextlabel:SR|Next
vti_approvallevels:VR|Approved Rejected Pending\\ Review
vti_showhiddenpages:IR|1
vti_navbuttonhomelabel:SR|Home
vti_dependenciesood:IR|1
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
