vti_encoding:SR|utf8-nl
vti_author:SR|GIBSON-II\\sp
vti_modifiedby:SR|NARF1337\\Administrator
vti_timelastmodified:TR|19 Aug 2011 08:26:46 -0000
vti_timecreated:TR|20 Aug 2008 13:23:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|styles/style2.css styles/style3.css styles/style1.css
vti_nexttolasttimemodified:TW|20 Aug 2008 13:47:31 -0000
vti_syncofs_localhost\\c\:\\dokumente und einstellungen\\sp\\workspace\\pdf inspector\\manual/c\:/dokumente und einstellungen/sp/workspace/pdf inspector/manual:TW|18 May 2010 07:08:06 -0000
vti_syncwith_localhost\\c\:\\dokumente und einstellungen\\sp\\workspace\\pdf inspector\\manual/c\:/dokumente und einstellungen/sp/workspace/pdf inspector/manual:TW|27 Oct 2008 12:53:49 -0000
vti_cacheddtm:TX|19 Aug 2011 08:26:46 -0000
vti_filesize:IR|635
