vti_encoding:SR|utf8-nl
vti_author:SR|GIBSON-II\\sp
vti_modifiedby:SR|GOOGLE\\timkornau
vti_timelastmodified:TR|26 May 2011 11:30:43 -0000
vti_timecreated:TR|20 Aug 2008 13:23:25 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_cacheddtm:TX|26 May 2011 11:30:43 -0000
vti_filesize:IR|2580
vti_cachedlinkinfo:VX|S|layout.css S|../images/background_tile.gif S|../images/masthead_image.jpg
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css NSUS|images/background_tile.gif NSUS|images/masthead_image.jpg
